@page
@model ClientRegister.Views.Catalogs.IndexModel
@{
    <form asp-action="Registrar" method="post">
        <label>Nombre Compañía</label>
        <input type="text" asp-for="Nom_Company" />

        <label>Nombre Contacto</label>
        <input type="text" asp-for="Nom_Contact" />

        <label>Email</label>
        <input type="email" asp-for="Email" />

        <label>Nombre Compañía</label>
        <input type="text" asp-for="Num_Tel" />

    </form>
}
